<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"  media="screen,projection"/ />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <div class="row ceter-align">
        <div class="card col s12 teal-text" style="margin : 1rem 1rem 1rem 1rem">
            <h5>place manager</h5>
            <table>
                <thead>
                    <tr>
                        <th data-field="idx">idx no</th>
                        <th data-field="name">name</th>
                        <th data-field="category">category</th>
                        <th data-field="subcategory">subcategory</th>
                        <th data-field="product">product</th>
                        <th data-field="address">adress</th>
                        <th data-field="lat">lat</th>
                        <th data-field="lng">lng</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8513</td>
                        <td>또래오래 성남시청점</td>
                        <td><input /></td>
                        <td><input /></td>
                        <td>치킨</td>
                        <td><input /></td>
                        <td><input /></td>
                        <td><input /></td>
                    </tr>
                    <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                    </tr>
                    <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>
